html, body {
    margin: 0;
    height: 100%;
}
.s-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.max-h{
    height: 100%;
}
#nav-items{
    padding-left: 70%;
}
#site-logo {
    background-color: #59A5A5;
    color: #fff;
    margin: 0px !important;
    font-family:Georgia, Times, "Times New Roman", serif;
}
.main-content-title{
    padding-top: 15px;
    color: #59A5A5;
    font-family: Georgia, serif;
}
#main-container {
    background-color: rgb(230, 230, 230);
    height:auto;
    width: 100%;
    margin: 0;
    min-height: 100%;
}
#main-container .summary-div{
    float: left;
    top: 5%;
    margin-left: 15%;
    margin-top: 25px;
    width: 700px;
}
#main-container .summary-div p{
    color: #686d7c;
}
#main-container .visual-div{
    margin-right: 9%;
    margin-top: 25px;
    position: relative;
    top: 5%;
    width:45em;
}
#main-container .row{
    padding-left: 10%;
}
.visual-div img{
    width: 300px !important;
    height: 300px !important;
}
